#eruda { .dev-tools { .tools {
    .resources {
        .title {
            padding: 10px;
            color: #fff;
            background: #b4b4b4;
            font-size: 20px;
        }
        table {
            border-collapse: collapse;
            width: 100%;
            td {
                padding: 10px;
                border: 1px solid #b4b4b4;
            }
        }
    }
} } }