@import "../color";
@import "../variable";

.dev-tools { .tools {
    .resources {
        padding: 10px;
        font-size: 14px;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        .section {
            margin-bottom: 10px;
            border-radius: 4px;
            box-shadow: $box-shadow;
            overflow: hidden;
        }
        .title {
            padding: 10px;
            color: #fff;
            background: $blue;
            font-size: 14px;
            &.ok {
                background: $green;
            }
            &.warn {
                background: $yellow;
            }
            &.danger {
                background: $red;
            }
            .btn {
                float: right;
                display: inline-block;
                background: #fff;
                color: $gray;
                text-align: center;
                width: 18px;
                height: 18px;
                line-height: 18px;
                border-radius: 50%;
                cursor: pointer;
            }
        }
        .link-list {
            li {
                padding: 10px;
                background: #fff;
                word-break: break-all;
                a {
                    color: $blue !important;
                }
            }
        }
        .image-list {
            background: #fff;
            padding: 10px !important;
            li {
                width: 25%;
                float: left;
                overflow-y: hidden;
                img {
                    width: 100%;
                }
                &.empty {
                    padding: 10px;
                    width: 100%;
                }
            }
            &::after {
                display: block;
                content: '';
                clear: both;
            }
        }
        table {
            border-collapse: collapse;
            width: 100%;
            td {
                padding: 10px;
                word-break: break-all;
                .delete {
                    color: #fff;
                    width: 20px;
                    height: 20px;
                    display: inline-block;
                    text-align: center;
                    border-radius: 50%;
                    background: $red-dark;
                    line-height: 20px;
                    cursor: pointer;
                }
                &.key {
                    white-space: nowrap;
                }
                &.control {
                    width: 40px;
                }
            }
            background: #fff;
        }
    }
} }