#eruda { .dev-tools { .tools {
    .info {
        li {
            .title, .content {
                padding: 10px;
            }
            .title {
                color: #fff;
                background: #b4b4b4;
                font-size: 20px;
            }
        }
    }
} } }