@import "../color";

#eruda { .dev-tools { .tools {
    .info {
        overflow-y: auto;
        font-size: 12px;
        li {
            overflow-x: auto;
            border-bottom: 1px solid $gray;
            .title, .content {
                padding: 10px;
            }
            .title {
                padding-bottom: 0;
                font-size: 15px;
                color: $blue;
            }
        }
    }
} } }