@import "../color";

.dev-tools { .tools {
    .info {
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        font-size: 14px;
        li {
            overflow-x: auto;
            border-bottom: 1px solid $gray;
            .title, .content {
                padding: 10px;
            }
            .content {
                margin: 0;
            }
            .title {
                padding-bottom: 0;
                font-size: 16px;
                color: $blue;
            }
        }
    }
} }