{{#each snippets}}
  <div class="eruda-section eruda-run" data-idx="{{@index}}">
    <h2 class="eruda-name">{{name}}
      <div class="eruda-btn">
        <span class="eruda-icon-play"></span>
      </div>
    </h2>
    <div class="eruda-description">
      {{desc}}
    </div>
  </div>
{{/each}}
