@import "../style/variable";

.dev-tools { .tools {
    .snippets {
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        padding: 10px;
        .section {
            margin-bottom: 10px;
            border-radius: 4px;
            box-shadow: $box-shadow;
            overflow: hidden;
            .btn, .name {
                padding: 10px;
                color: #fff;
                background: $gray;
                font-size: 14px;
                text-align: center;
            }
            .btn {
                background: $red;
                cursor: pointer;
                transition: background $anim-duration;
            }
            .btn:active {
                background: $red-dark;
            }
            .description {
                background: #fff;
                padding: 10px;
            }
        }
    }
} }

