{{#each snippets}}
    <div class="eruda-section eruda-run" data-idx="{{@index}}">
        <h2 class="eruda-name">{{name}}</h2>
        <div class="eruda-description">
            {{desc}}
        </div>
    </div>
{{/each}}
