@import "../style/variable";
@import "../style/mixin";

.dev-tools { .tools {
    .features {
        padding-bottom: 40px;
        ul {
            @include overflow-auto(y);
            @include clear-float();
            height: 100%;
            li {
                width: 33.3%;
                float: left;
                padding: 5px;
                .inner-wrapper {
                    @include overflow-auto(x);
                    font-size: $font-size-s;
                    text-decoration: underline;
                    color: #fff;
                    display: block;
                    padding: 10px;
                    border-radius: 4px;
                    text-align: center;
                    background: $red;
                    transition: background $anim-duration;
                    &:active {
                        background: $red-dark;
                    }
                    &.ok {
                        background: #fff;
                        color: $gray;
                        &:active {
                            background: $gray-light;
                        }
                    }
                }
            }
        }
        .html5test {
            position: absolute;
            left: 0;
            bottom: 0;
            color: #fff;
            width: 100%;
            background: $blue;
            display: block;
            height: 40px;
            line-height: 40px;
            text-decoration: none;
            text-align: center;
            margin-top: 10px;
            transition: background $anim-duration;
            &:active {
                background: $blue-dark;
            }
        }
    }
} }