@import "../color";
@import "../variable";

.dev-tools { .tools {
    .features {
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        ul {
            li {
                width: 50%;
                float: left;
                padding: 10px;
                .inner-wrapper {
                    box-shadow: $box-shadow;
                    font-size: 14px;
                    text-decoration: underline;
                    color: #fff;
                    display: block;
                    padding: 10px;
                    border-radius: 4px;
                    text-align: center;
                    background: $red;
                    &.ok {
                        background: #fff;
                        color: $gray;
                    }
                }
            }
            &::after {
                display: block;
                content: '';
                clear: both;
            }
        }
        .html5test {
            color: #fff;
            background: $blue;
            display: block;
            padding: 10px;
            text-decoration: none;
            text-align: center;
            margin-top: 10px;
        }
    }
} }