@import "../style/variable";
@import "../style/mixin";

.dev-tools { .tools {
    .features {
        @include overflow-auto(y);
        ul {
            margin-top: 5px;
            li {
                width: 33.3%;
                float: left;
                padding: 5px;
                .inner-wrapper {
                    @include overflow-auto(x);
                    box-shadow: $box-shadow;
                    font-size: 12px;
                    text-decoration: underline;
                    color: #fff;
                    display: block;
                    padding: 10px;
                    border-radius: 4px;
                    text-align: center;
                    background: $red;
                    transition: background $anim-duration;
                    &:active {
                        background: $red-dark;
                    }
                    &.ok {
                        background: #fff;
                        color: $gray;
                        &:active {
                            background: $gray-light;
                        }
                    }
                }
            }
            &::after {
                display: block;
                content: '';
                clear: both;
            }
        }
        .html5test {
            color: #fff;
            background: $blue;
            display: block;
            padding: 10px;
            text-decoration: none;
            text-align: center;
            margin-top: 10px;
            transition: background $anim-duration;
            &:active {
                background: $blue-dark;
            }
        }
    }
} }