
.container { .home-btn {
    width: 40px;
    height: 40px;
    background: #000;
    opacity: 0.3;
    border-radius: 10px;
    position: relative;
    z-index: 1000;
    transition: opacity .3s;
    color: #fff;
    font-size: 25px;
    text-align: center;
    line-height: 40px;
    span {
        position: relative;
        top: 1px;
    }
    &.active {
        opacity: .8;
    }
} }
