@import "../variable";

.dev-tools {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    padding-top: 50px !important;
    background: #fff;
    z-index: 500;
    display: none;
    opacity: 0;
    transition: opacity .3s;
    transform: translateZ(0);
    .tools {
        height: 100%;
        width: 100%;
        position: relative;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        .tool {
            transform: translateZ(0);
            position: absolute;
            overflow: hidden;
            display: none;
            left: 0;
            top: 0;
            background: $gray-light;
            width: 100%;
            height: 100%;
        }
    }
}

