@import "../style/variable";
@import "../style/mixin";

.dev-tools {
    @include absolute();
    padding-top: 55px !important;
    background: #fff;
    z-index: 500;
    display: none;
    opacity: 0;
    transition: opacity $anim-duration;
    .tools {
        @include overflow-auto();
        height: 100%;
        width: 100%;
        position: relative;
        .tool {
            @include absolute();
            overflow: hidden;
            display: none;
            background: #f8f9fa;
        }
    }
}

