#eruda {
    .home-btn {
        width: 40px;
        height: 40px;
        background: rgba(0, 0, 0, 0.8);
        opacity: 0.3;
        border-radius: 10px;
        padding-top: 10px;
        position: relative;
        z-index: 1000;
        transition: opacity .3s;
        .circle {
            background: #fff;
            border-radius: 50%;
            margin: 0 auto;
            width: 20px;
            height: 20px;
        }
        &:hover {
            opacity: 0.8;
        }
    }
}