#eruda { .dev-tools {
    .nav-bar {
        height: 50px;
        overflow: hidden;
        box-shadow: 0 1px 0 0 #ccc;
        ul {
            display: flex;
            li {
                float: left;
                height: 50px;
                line-height: 50px;
                text-align: center;
                flex-grow: 1;
                &.active {
                    color: #76a2ee;
                    border-bottom: 3px solid #76a2ee;
                }
            }
        }
    }
} }