@import "../color";

.dev-tools {
    .nav-bar {
        height: 50px;
        overflow-y: auto;
        position: absolute;
        width: 100%;
        -webkit-overflow-scrolling: touch;
        left: 0;
        top: 0;
        z-index: 100;
        background: $blue;
        ul {
            font-size: 0;
            li {
                cursor: pointer;
                display: inline-block;
                height: 50px;
                line-height: 50px;
                width: 69px;
                color: $gray-light;
                font-size: 12px;
                text-align: center;
                opacity: 0.5;
                text-transform: capitalize;
                &.active {
                    color: #fff;
                    opacity: 1;
                    border-bottom: 3px solid #fff;
                }
            }
        }
    }
}