#eruda { .dev-tools {
    .nav-bar {
        height: 51px;
        overflow-y: scroll;
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        border-bottom: 1px solid #ccc;
        z-index: 100;
        ul {
            font-size: 0;
            li {
                display: inline-block;
                height: 50px;
                line-height: 50px;
                width: 80px;
                font-size: 15px;
                text-align: center;
                text-transform: capitalize;
                &.active {
                    color: #76a2ee;
                    border-bottom: 3px solid #76a2ee;
                }
            }
        }
    }
} }