@import "./variable";

@mixin absolute($width: 100%, $height: 100%) {
    position: absolute;
    width: $width;
    height: $height;
    left: 0;
    top: 0;
}

@mixin overflow-auto($direction: 'both') {
    @if $direction == 'both' {
        overflow: auto;
    } @else {
        overflow-#{$direction}: auto;
    }
    -webkit-overflow-scrolling: touch;
}

@mixin breadcrumb {
    background: #fff;
    margin-bottom: 10px;
    word-break: break-all;
    padding: $padding;
    font-size: $font-size-l;
    min-height: 40px;
    border-bottom: 1px solid $gray-light;
}

@mixin clear-float {
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

@mixin right-circle-btn {
    .btn {
        margin-left: 10px;
        float: right;
        display: inline-block;
        background: #fff;
        color: $gray;
        text-align: center;
        width: 18px;
        height: 18px;
        line-height: 18px;
        border-radius: 50%;
        font-size: 12px;
        cursor: pointer;
        transition: color $anim-duration;
        &:active {
            color: $gray-dark;
        }
    }
}