$box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .05), 0 1px 4px 0 rgba(0, 0, 0, .08), 0 3px 1px -2px rgba(0, 0, 0, .2);
$border-radius: 4px;

$padding: 10px;

$font-size: 14px;
$font-size-s: 12px;
$font-size-l: 16px;

$font-family: 'Helvetica Neue', Helvetica, Arial, sans-seri;
$font-family-code: Monaco, MonoSpace;

$anim-duration: .3s;

// https://www.google.com/design/spec/style/color.html#color-color-palette
$blue: #2196f3;
$blue-light: #90caf9;
$blue-dark: #1565c0;
$gray: #707d8b;
$gray-light: #eceffe;
$gray-dark: #263238;
$red: #f44336;
$red-light: #ffebee;
$red-dark: #b71c1c;
$green: #009688;
$yellow: #ffc107;
$yellow-light: #ffecb3;
$yellow-dark: #ff6f00;