$padding: 10px;

$font-size: 14px;
$font-size-s: 12px;
$font-size-l: 16px;

$font-family: '.SFNSDisplay-Regular', 'Helvetica Neue', 'Lucida Grande',
  'Segoe UI', Tahoma, sans-serif;

$anim-duration: 0.3s;
