$padding: 10px;

$font-size: 14px;
$font-size-s: 12px;
$font-size-l: 16px;

$font-family: 'Helvetica Neue', Helvetica, Arial, sans-seri;
$font-family-code: Consolas, Lucida Console, Monaco, MonoSpace;

$anim-duration: 0.3s;
