<div class="eruda-bottom-bar">
    <div class="eruda-btn eruda-select">
        <span class="eruda-icon eruda-icon-select"></span>
    </div>
    <div class="eruda-btn eruda-refresh">
        <span class="eruda-icon eruda-icon-refresh"></span>
    </div>
    <div class="eruda-btn eruda-highlight">
        <span class="eruda-icon eruda-icon-eye"></span>
    </div>
    <div class="eruda-btn eruda-reset">
        <span class="eruda-icon eruda-icon-reset"></span>
    </div>
</div>