<div class="eruda-bottom-bar">
    <div class="eruda-btn back" ontouchstart>Back</div>
    <div class="eruda-btn refresh" ontouchstart>Refresh</div>
    <div class="eruda-btn highlight" ontouchstart>Highlight</div>
    <div class="eruda-btn reset" ontouchstart>Reset</div>
</div>