<div class="eruda-bottom-bar">
    <div class="eruda-btn eruda-back" ontouchstart>Back</div>
    <div class="eruda-btn eruda-select">Select</div>
    <div class="eruda-btn eruda-refresh" ontouchstart>Refresh</div>
    <div class="eruda-btn eruda-highlight" ontouchstart>Highlight</div>
    <div class="eruda-btn eruda-reset" ontouchstart>Reset</div>
</div>