<div class="eruda-bottom-bar">
    <div class="eruda-btn eruda-select">
        <span class="eruda-icon eruda-icon-hand-pointer-o"></span>
    </div>
    <div class="eruda-btn eruda-refresh">
        <span class="eruda-icon eruda-icon-repeat"></span>
    </div>
    <div class="eruda-btn eruda-highlight">
        <span class="eruda-icon eruda-icon-eye"></span>
    </div>
    <div class="eruda-btn eruda-reset">
        <span class="eruda-icon eruda-icon-rotate-left"></span>
    </div>
</div>