<div class="eruda-bottom-bar">
    <div class="eruda-btn eruda-select" ontouchstart>
        <span class="eruda-icon eruda-icon-hand-pointer-o"></span>
    </div>
    <div class="eruda-btn eruda-refresh" ontouchstart>
        <span class="eruda-icon eruda-icon-repeat"></span>
    </div>
    <div class="eruda-btn eruda-highlight" ontouchstart>
        <span class="eruda-icon eruda-icon-eye"></span>
    </div>
    <div class="eruda-btn eruda-reset" ontouchstart>
        <span class="eruda-icon eruda-icon-rotate-left"></span>
    </div>
</div>