@import "../style/variable";
@import "../style/mixin";

.dev-tools { .tools {
    .elements {
        padding-bottom: 40px;
        font-size: 14px;
        .show-area {
            @include overflow-auto(y);
            height: 100%;
        }
        @include breadcrumb();
        .section {
            h2 {
                background: $blue;
                padding: $padding;
                color: #fff;
                font-size: $font-size;
                transition: background $anim-duration;
                &.active-effect:active {
                    background: $blue-dark;
                }
            }
            margin-bottom: 10px;
        }
        .children {
            background: #fff;
            margin-bottom: 10px !important;
            border-bottom: 1px solid $gray-light;
            li {
                @include overflow-auto(x);
                padding: $padding;
                border-top: 1px solid $gray-light;
                white-space: nowrap;
                transition: background $anim-duration, color $anim-duration;
                span {
                    transition: color $anim-duration;
                }
                &.active-effect:active {
                    background: $blue;
                    color: #fff;
                    span {
                        color: #fff;
                    }
                }
            }
        }
        .attributes {
            background: #fff;
            font-size: 12px;
            .table-wrapper {
                overflow-x: auto;
                -webkit-overflow-scrolling: touch;
            }
            table {
                td {
                    padding: 5px 10px;
                }
            }
        }
        .text-content {
            background: #fff;
            .content {
                padding: $padding;
                overflow-x: auto;
                -webkit-overflow-scrolling: touch;
            }
        }
        .style-color {
            width: 7px;
            height: 7px;
            margin-right: 2px;
            border: 1px solid $gray-dark;
            display: inline-block;
        }
        .computed-style {
            background: #fff;
            font-size: 12px;
            .table-wrapper {
                max-height: 200px;
                overflow-y: auto;
                -webkit-overflow-scrolling: touch;
            }
            table {
                td {
                    padding: 5px 10px;
                    &.key {
                        white-space: nowrap;
                        color: $red;
                    }
                }
            }
        }
        .styles {
            background: #fff;
            font-size: 12px;
            .style-wrapper {
                padding: $padding;
                .style-rules {
                    box-shadow: $box-shadow;
                    border: 1px solid $gray;
                    padding: $padding;
                    background: #fff;
                    margin-bottom: 10px;
                    .rule {
                        padding-left: 2em;
                        word-break: break-all;
                        span {
                            color: $red;
                        }
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
        .listeners {
            background: #fff;
            font-size: 12px;
            .listener-wrapper {
                padding: $padding;
                .listener {
                    box-shadow: $box-shadow;
                    margin-bottom: 10px;
                    background: #fff;
                    .listener-type {
                        padding: $padding;
                        background: $blue;
                        color: #fff;
                    }
                    .listener-content li {
                        padding: $padding;
                        border: 1px solid $gray;
                        border-top: none;
                        overflow-x: auto;
                        -webkit-overflow-scrolling: touch;
                        &.capture {
                            background: $gray-light;
                        }
                    }
                }
            }
        }
        .bottom-bar {
            height: 40px;
            background: #fff;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            font-size: 0;
            border-top: 1px solid $gray-light;
            .btn {
                text-align: center;
                color: $gray;
                font-size: 14px;
                line-height: 40px;
                width: 20%;
                display: inline-block;
                transition: background $anim-duration, color $anim-duration;
                &:active {
                    background: $blue;
                    color: #fff;
                }
                &.active {
                    color: $blue;
                }
            }
        }
    }
} }

