@import "../style/variable";

.dev-tools { .tools {
    .elements {
        padding-bottom: 40px;
        font-size: 14px;
        .show-area {
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
            height: 100%;
        }
        .breadcrumb {
            background: #fff;
            padding: $common-padding;
            margin-bottom: 10px;
            word-break: break-all;
        }
        .section {
            h2 {
                background: $blue;
                padding: $common-padding;
                color: #fff;
                font-size: 14px;
            }
            margin-bottom: 10px;
        }
        .children {
            background: #fff;
            margin-bottom: 10px !important;
            li {
                padding: $common-padding;
                overflow-x: auto;
                -webkit-overflow-scrolling: touch;
                border-top: 1px solid $gray;
                &:last-child {
                    border-bottom: 1px solid $gray;
                }
            }
        }
        .attributes {
            background: #fff;
            font-size: 12px;
            .table-wrapper {
                overflow-x: auto;
                -webkit-overflow-scrolling: touch;
            }
            table {
                td {
                    padding: 5px 10px;
                }
            }
        }
        .text-content {
            background: #fff;
            .content {
                padding: $common-padding;
                overflow-x: auto;
                -webkit-overflow-scrolling: touch;
            }
        }
        .computed-style {
            background: #fff;
            font-size: 12px;
            .table-wrapper {
                max-height: 200px;
                overflow-y: auto;
                -webkit-overflow-scrolling: touch;
            }
            table {
                td {
                    padding: 5px 10px;
                    &.key {
                        white-space: nowrap;
                        color: $red-dark;
                    }
                }
            }
        }
        .styles {
            background: #fff;
            font-size: 12px;
            .style-wrapper {
                padding: $common-padding;
                .style-rules {
                    box-shadow: $box-shadow;
                    border: 1px solid $gray;
                    padding: $common-padding;
                    background: #fff;
                    margin-bottom: 10px;
                    .rule {
                        padding-left: 2em;
                        span {
                            color: $red-dark;
                        }
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
        .listeners {
            background: #fff;
            font-size: 12px;
            .listener-wrapper {
                padding: $common-padding;
                .listener {
                    box-shadow: $box-shadow;
                    margin-bottom: 10px;
                    background: #fff;
                    .listener-type {
                        padding: $common-padding;
                        background: $blue;
                        color: #fff;
                    }
                    .listener-content li {
                        padding: $common-padding;
                        border: 1px solid $gray;
                        border-top: none;
                        overflow-x: auto;
                        -webkit-overflow-scrolling: touch;
                        &.capture {
                            background: $gray-light;
                        }
                    }
                }
            }
        }
        .bottom-bar {
            height: 40px;
            background: #fff;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            font-size: 0;
            .btn {
                text-align: center;
                color: $gray;
                font-size: 14px;
                line-height: 40px;
                width: 20%;
                display: inline-block;
                &:active, &.active {
                    color: $blue;
                }
            }
        }
    }
} }

