<div class="eruda-elements-highlight">
    <div class="eruda-indicator">
        <div class="eruda-margin"></div>
        <div class="eruda-border"></div>
        <div class="eruda-padding"></div>
        <div class="eruda-content"></div>
    </div>
    <div class="eruda-size"></div>
</div>