<div class="eruda-color">
    <div class="eruda-head">
        {{desc}}
        <span class="eruda-val" style="background-color: {{val}}"></span>
    </div>
    <ul data-idx="{{idx}}">
       {{#each colors}}
           <li style="background: {{.}}"></li>
       {{/each}}
    </ul>
</div>