<div class="eruda-select">
    <div class="eruda-head" ontouchstart>
        {{desc}}
        <span class="eruda-val">{{val}}</span>
    </div>
    <ul data-idx="{{idx}}">
       {{#each selections}}
           <li ontouchstart>{{.}}</li>
       {{/each}}
    </ul>
</div>