<div id="{{id}}" class="eruda-switch">
    {{desc}}
    <label class="eruda-checkbox">
        <input type="checkbox" class="eruda-input" data-id="{{id}}" {{#if val}}checked{{/if}}>
        <span class="eruda-label"></span>
        <span class="eruda-handle"></span>
    </label>
</div>