<div class="eruda-switch">
    {{desc}}
    <label class="eruda-checkbox">
        <input type="checkbox" class="eruda-input" data-idx="{{idx}}" {{#if val}}checked{{/if}}>
        <span class="eruda-label"></span>
        <span class="eruda-handle"></span>
    </label>
</div>