<div class="eruda-http">
    <div class="eruda-breadcrumb">{{url}}</div>
    <div class="eruda-section">
        <h2>Response Headers</h2>
        <table class="eruda-headers">
            <tbody>
                {{#each resHeaders}}
                    <tr>
                        <td class="eruda-key">{{@key}}</td>
                        <td>{{.}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <pre class="eruda-response">{{resTxt}}</pre>
</div>