<div class="eruda-image">
    <div class="eruda-breadcrumb">{{src}}</div>
    <div class="eruda-img-container" data-exclude="true">
        <img src="{{src}}">
    </div>
    <div class="eruda-img-info">{{width}} × {{height}}</div>
</div>