@import "../style/variable";
@import "../style/mixin";

.dev-tools { .tools {
    .sources {
        @include overflow-auto(y);
        .code, .raw {
            @include overflow-auto(x);
            background: #fff;
            padding: $padding;
            min-height: 100%;
        }
        .code {
            font-family: $font-family-code;
            font-size: $font-size-s;
        }
        .image {
            .breadcrumb {
                @include breadcrumb();
            }
            .img-container {
                text-align: center;
                img {
                    max-width: 100%;
                    box-shadow: $box-shadow;
                }
            }
            .img-info {
                text-align: center;
                margin-top: 20px;
                color: $gray;
            }
        }
        .http {
            .breadcrumb {
                @include breadcrumb();
            }
            .section {
                background: #fff;
                h2 {
                    background: $blue;
                    padding: $padding;
                    color: #fff;
                    font-size: $font-size;
                }
                margin-bottom: 10px;
                table {
                    td {
                        font-size: $font-size-s;
                        padding: 5px 10px;
                    }
                    .key {
                        white-space: nowrap;
                    }
                }
            }
            .response, .data {
                @include overflow-auto(x);
                background: #fff;
                padding: $padding;
                font-size: $font-size-s;
                margin-bottom: 10px;
            }
        }
        .json {
            @include overflow-auto(x);
            font-family: $font-family-code;
            font-size: $font-size-s;
            line-height: 1.2;
            background: #fff;
            min-height: 100%;
            padding: $padding 25px 10px;
            &, ul {
                list-style: none !important;
            }
            ul {
                padding: 0 !important;
                padding-left: 20px !important;
                margin: 0 !important;
            }
            li {
                position: relative;
                white-space: nowrap;
            }
            & > li > .key,
            & .array .key {
                display: none;
            }
            .array .object .key {
                display: inline;
            }
            .null {
                color: #0086b3;
            }
            .string {
                color: #183691;
            }
            .number {
                color: #0086b3;
            }
            .boolean {
                color: #0086b3;
            }
            .key {
                color: #a71d5d;
            }
            .expanded:before {
                content: "";
                width: 0;
                height: 0;
                border: 4px solid transparent;
                position: absolute;
                border-top-color: $gray;
                left: -12px;
                top: 5px;
            }
            .collapsed:before {
                content: "";
                border-left-color: $gray;
                border-top-color: transparent;
                left: -10px;
                top: 3px;
            }
            li .collapsed ~ .close:before {
                content: "... ";
                color: #999;
            }
            .hidden ~ ul {
                display: none;
            }
            span {
                position: static !important;
            }
        }
    }
} }