@import "../variable";

.dev-tools { .tools {
    .sources {
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        .code {
            padding: $common-padding;
            overflow-x: auto;
            min-height: 100%;
        }
    }
} }