@font-face {
    font-family: 'icomoon';
    src: url('data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAA8YAAsAAAAADswAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABPUy8yAAABCAAAAGAAAABgDxIFh2NtYXAAAAFoAAAAVAAAAFQXVtKSZ2FzcAAAAbwAAAAIAAAACAAAABBnbHlmAAABxAAACswAAArMDNgeMWhlYWQAAAyQAAAANgAAADYJ3A05aGhlYQAADMgAAAAkAAAAJAfCA9FobXR4AAAM7AAAAEAAAABALycAlGxvY2EAAA0sAAAAIgAAACITwBEGbWF4cAAADVAAAAAgAAAAIAAWAIVuYW1lAAANcAAAAYYAAAGGmUoJ+3Bvc3QAAA74AAAAIAAAACAAAwAAAAMDUgGQAAUAAAKZAswAAACPApkCzAAAAesAMwEJAAAAAAAAAAAAAAAAAAAAARAAAAAAAAAAAAAAAAAAAAAAQAAA6QsDwP/AAEADwABAAAAAAQAAAAAAAAAAAAAAIAAAAAAAAwAAAAMAAAAcAAEAAwAAABwAAwABAAAAHAAEADgAAAAKAAgAAgACAAEAIOkL//3//wAAAAAAIOkA//3//wAB/+MXBAADAAEAAAAAAAAAAAAAAAEAAf//AA8AAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAAAwAAAAADbgNuACYAOwBUAAAlNTQnJisBETQnJisBIgcGHQEUFxY7ARUjIgcGHQEUFxYzITI3NjUDNTQnJisBIgcGHQEUFxY7ATI3NjUFFAcGBwYjIicmJyY1NDc2NzYzMhcWFxYVAkkFBQg3BQUItwgFBQUFCDc3CAUFBQUIAQAIBQVJBQUIbggFBQUFCG4IBQUBbjs7ZWV3eGRlOzs7O2VkeHdlZTs7pVsIBQUBJQgFBQUFCFwIBQW3BQUIWwgGBQUGCAIAWwgFBQUFCFsIBgUFBgjueGRlOzs7O2VkeHdlZTs7OztlZXcAAAADAAAAAANuA3EADQAZADkAAAE0JwEWMzI3Njc2NzY1BQEmIyIHBgcGFRQXJRQHBgcGBwYjIicmJyYnJjU0NzY3Njc2MzIXFhcWFxYC7jL+UU5cPzo5KioYGf3FAa9NXlVHSCkqMwK7IyM7OlJRWVlSUTs6IyMjIzo7UVJZWVFSOjsjIwG5XEz+UjMZGSkqOjpAqwGvNCoqSEhUXU6rWlJSOjsjIyMjOzpSUlpZUlE7OyMjIyM7O1FSAAAAAAIAAAAAA24DbgAPAIIAAAE0JyYjIgcGFRQXFjMyNzYlFRQHBg8BBgcWFxYVFAcGBwYjIi8BBgcGBwYrASInJjUnJicHBiMiJyYnJjU0NzY3NjcmLwEmJyY9ATQ3Nj8BNjcmJyY1NDc2NzYzMh8BNjc2NzY7ATIXFh8BFhc3NjMyFxYXFhUUBwYHBgcWHwEWFxYVAkkrKzw9KyoqKz08KysBJQUEB2oLCxQpBgYPKSkNBwhPGRsJBwQRfwgGBhAcGFAGCAgHSBYEBQgVFAsQCGgIBAUFBAZrCA4XJgYFDyopDQcHTxkbCQgEEH8IBgYBEBwXUQYICAZKFQQFCBUVCg8JaAgEBQG3PCsrKys8PSsqKit7fwcGBgEQHxUdMgcHCAYVKCkFPg0JTR0QBQUHaQkMPQUGQh4GCAYHDBoaDh0cDwEGBgh+BwcGARAaGyAuBwcGBxUpKQY9DQhOHRAFBQdqCQw9BgZEHQUIBwYMGhoOHRsQAQYGCAAFAAAAAAMlA24AFAApAD4ARgBzAAAlETQnJisBIgcGFREUFxY7ATI3NjUzETQnJisBIgcGFREUFxY7ATI3NjUzETQnJisBIgcGFREUFxY7ATI3NjUBIScmJyMGBwUVFAcGKwERFAcGIyEiJyY1ESMiJyY9ATQ3NjsBNzY3NjsBMhcWHwEzMhcWFQElBgUIJAgFBgYFCCQIBQaSBQUIJQgFBQUFCCUIBQWSBQUIJQgFBQUFCCUIBQX+yQEAGwQGtQYEAfcGBQg3Ghsm/iUmGxs3CAUFBQUIsSgIFxYXtxcWFgkosAgFBqUBkggFBQUFCP5uCAYFBQYIAZIIBQUFBQj+bggGBQUGCAGSCAUFBQUI/m4IBgUFBggCNkMFAgIFVSQIBgX94zAiIyEiLwIgBQYIJAgFBWAVDw8PDxVgBQUIAAEAAAAAA24DbgBHAAABERQHBiMhIicmPwEmIyIHBgcGBwYVFBcWFxYXFjMyNzY3NjcyHwEWFRQHBgcGIyInJicmJyY1NDc2NzY3NjMyFxYXNzYXFhUDbgsLD/8AGAoJEU9Uczw2NicnGBcXGCcnNjY8RDw9KgQJCAZOBgQ/WFliWVFSOjsjIyMjOzpSUVlUTk89ShEXFwMl/wAPCwsXFhFPThcXJyg2Njs8NjYnJxgXHh42BgEFTwUHBwZLKikjIzs6UlFZWVFROzsjIyAgOUkSCgkYAAAAAAEAMwAPAoMDqAAaAAAJAQYjIi8BJjU0NwkBJjU0PwE2MzIXARYVFAcCef5YCw8PC18LCwEw/tALC18LDw8LAagKCgHC/lgLC18KDw8LAS8BMAsPDgtfCwv+WAsPDgsAAAEAWAAPAqgDqAAaAAAJAhYVFA8BBiMiJwEmNTQ3ATYzMh8BFhUUBwKd/tEBLwsLXwsODwv+WAsLAagLDw4LXwsLAwv+0P7RCw8PCl8LCwGoCw4PCwGoCwtfCw4PCwAAAAMACQAAA/cDtwAUACkAQQAAJTU0JyYrASIHBh0BFBcWOwEyNzY1JxM0JyYrASIHBhUTFBcWOwEyNzY3AwEWBwYHBiMhIicmJyY3ATY3NjMyFxYXAkkFBgduBwYFBQYHbgcGBQEKBQgGfgYIBQkGBghqCAUFAQgBtxQVChERE/ySExERChUUAbcKEREUFBERCqVtCAUGBgUIbQgFBgYFCNYBBgcEBgYECP77BgQDAwQGAhb82yQkEQkKCgkRJCQDJRELCgoLEQAAAgAAAAADbgNuACsARAAAATQvATc2NTQvASYjIg8BJyYjIg8BBhUUHwEHBhUUHwEWMzI/ARcWMzI/ATY3FAcGBwYjIicmJyY1NDc2NzYzMhcWFxYVApELaGgLCzQLDw8LZ2gKDxALMwsLZ2cLCzMLEA8KaGcLDw8LNAvdOztlZXd4ZGU7Ozs7ZWR4d2VlOzsBNg8KaGcLDw8LNAsLaGgLCzQLDw8LZ2gKDxALMwsLZ2cLCzMLkXhkZTs7OztlZHh3ZWU7Ozs7ZWV3AAAABQAA/7cDtwO3AD4AbQBxAHUAegAAASIHBhURJyYjIgcGFRQXExYzITI3Nj8BNj0BNCcmIyIHBhUjNTQnJiMiBwYdASM1NCcmIyIHBh0BIxE0JyYjNTIXFh0BNjMyFzYzMhc2MzIXFh0BFA8BBgcGIyEiJyYnAyY1NDc2MzIXETQ3NjMTNSMVMzUjFTM1IxUzAW4fFRVXFyYeFRUP2xYlAZoNCgoCNQ4QEBcXEBASExIbGxITExUVHx4VFhIVFR89KisNBTkqGx5AKQ8RNiUlEDUJHh0m/mYjHx8U3B0rKjwpISsrPUkSpBKkEhIDbhYVHv4Acx8WFh0ZE/7bHQgHDNM3OHwXEREQEBcjHBMTExMaJTQfFxYVFR83AUYgFhdJLC09fgIoDDIEJic1fEM+0iUXFxAPGwElJzE8KysUATk8Kyv829zc3Nzc3AADAAAASQQAAtsAGAAxAEoAAAEmJxYVFAcGIyInJjU0NwYHFhcWMzI3NjclNCcmIyIHBhUUFxYzMjc2NTQ3NjMyNzY1BRQHBgcGIyInJicmNTQ3Njc2MzIXFhcWFQO3V4MjS0tqaktLI4NXTHNyhoZyc0z+ZAgIC0c0MwgIDAsICCMjMQsICAHlC1CIh5aWh4hQCwtQiIeWloeIUAsBkodDO0ZpS0xMS2lGO0OHdUVGRkV13AsICDMzSAsICAgICzIiIwgIDNwTFIRPT1BPgxQTFBSDT09PT4MUFAAAAQAAAAADbgNuAEkAAAEUBwYHBgcGIyInJicmNTY/ATYzFhcWFxYzMjc2NzY3NjU0JyYnJicmIyIHBgcXFgcGIyEiJyY1ETQ3Nh8BNjc2MzIXFhcWFxYVA24jIzs7UVFZYllZPgQBBE8FCQkEKjw9RDs2NignFxcXFycoNjY7ODQzKE4SCgkY/wAPCwsXFhFLPU5PVFlRUTs7IyMBt1lRUjo7IyMpKksGBwcFTwUBBjYeHhcYJyc2Njw7NjYoJxcXFBQmTxEWFwsLDwEAGAkKEkk5ICAjIzs7UVFZAAEAAAAAAAD744TRXw889QALBAAAAAAA017kZwAAAADTXuRnAAD/twQAA7cAAAAIAAIAAAAAAAAAAQAAA8D/wAAABAAAAAAABAAAAQAAAAAAAAAAAAAAAAAAABAEAAAAAAAAAAAAAAACAAAAA24AAANuAAADbgAAAyUAAANuAAACtwAzAwAAWAQAAAkDbgAAA7cAAAQAAAADbgAAAAAAAAAKABQAHgCUAPIBrgJOAroC6gMaA34D5ASKBPgFZgAAAAEAAAAQAIMABQAAAAAAAgAAAAAAAAAAAAAAAAAAAAAAAAAOAK4AAQAAAAAAAQAHAAAAAQAAAAAAAgAHAGAAAQAAAAAAAwAHADYAAQAAAAAABAAHAHUAAQAAAAAABQALABUAAQAAAAAABgAHAEsAAQAAAAAACgAaAIoAAwABBAkAAQAOAAcAAwABBAkAAgAOAGcAAwABBAkAAwAOAD0AAwABBAkABAAOAHwAAwABBAkABQAWACAAAwABBAkABgAOAFIAAwABBAkACgA0AKRpY29tb29uAGkAYwBvAG0AbwBvAG5WZXJzaW9uIDEuMABWAGUAcgBzAGkAbwBuACAAMQAuADBpY29tb29uAGkAYwBvAG0AbwBvAG5pY29tb29uAGkAYwBvAG0AbwBvAG5SZWd1bGFyAFIAZQBnAHUAbABhAHJpY29tb29uAGkAYwBvAG0AbwBvAG5Gb250IGdlbmVyYXRlZCBieSBJY29Nb29uLgBGAG8AbgB0ACAAZwBlAG4AZQByAGEAdABlAGQAIABiAHkAIABJAGMAbwBNAG8AbwBuAC4AAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA') format('woff');
    font-weight: normal;
    font-style: normal;
}

[class^="eruda-icon-"], [class*=" eruda-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-rotate-left:before {
    content: "\e90b";
}
.icon-hand-pointer-o:before {
    content: "\e909";
}
.icon-eye:before {
    content: "\e90a";
}
.icon-info-circle:before {
    content: "\e900";
}
.icon-ban:before {
    content: "\e901";
}
.icon-cog:before {
    content: "\e902";
}
.icon-trash:before {
    content: "\e903";
}
.icon-repeat:before {
    content: "\e904";
}
.icon-chevron-right:before {
    content: "\e905";
}
.icon-chevron-left:before {
    content: "\e906";
}
.icon-exclamation-triangle:before {
    content: "\e907";
}
.icon-times-circle:before {
    content: "\e908";
}

