@import "color";

#eruda {
    pointer-events: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100000;
    transform: translateZ(0);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    * {
        box-sizing: border-box;
        pointer-events: all;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    h1, h2, h3, h4 {
        margin: 0;
    }
}

