#eruda {
    pointer-events: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-family: Lora, Times, serif;
    * {
        box-sizing: border-box;
        pointer-events: all;
        padding: 0;
        margin: 0;
    }
    ul {
        list-style: none;
    }
}