@import "../variable";

.dev-tools { .tools {
    .console {
        .control {
            position: absolute;
            left: 0;
            top: 0;
            padding: 10px 10px 10px 40px;
            background: #fff;
            height: 40px;
            line-height: 20px;
            width: 100%;
            .icon-ban, .icon-info-circle {
                display: inline-block;
                color: $gray;
                padding: 5px;
                font-size: 16px;
                position: absolute;
                top: 6px;
                &:active {
                    color: $gray-light;
                }
            }
            .icon-ban {
                left: 10px;
            }
            .icon-info-circle {
                right: 10px;
            }
            .filter {
                color: $gray;
                margin: 0 1px;
                font-size: 12px;
                height: 20px;
                display: inline-block;
                padding: 0 4px;
                line-height: 20px;
                border-radius: 4px;
                &.active {
                    background: $gray;
                    color: #fff;
                }
            }
        }
        padding-top: 40px;
        padding-bottom: 40px;
        .js-input {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            background: #fff;
            height: 40px;
            .buttons {
                display: none;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 40px;
                color: $gray;
                font-size: 12px;
                border-bottom: 1px solid $gray-light;
                .button {
                    width: 50%;
                    display: inline-block;
                    text-align: center;
                    border-right: 1px solid $gray-light;
                    height: 40px;
                    line-height: 40px;
                    float: left;
                    &:last-child {
                        border-right: none;
                    }
                    &:active {
                        background: $blue;
                        color: #fff;
                    }
                }
            }
            textarea {
                padding: 10px;
                outline: none;
                border: none;
                font-size: 14px;
                width: 100%;
                height: 100%;
            }
        }
    }
} }