<div class="eruda-control">
    <span class="eruda-icon-clear eruda-clear-console"></span>
    <span class="eruda-filter eruda-active" data-filter="all">All</span>
    <span class="eruda-filter" data-filter="error">Error</span>
    <span class="eruda-filter" data-filter="warn">Warning</span>
    <span class="eruda-filter" data-filter="info">Info</span>
    <span class="eruda-filter" data-filter="log">Log</span>
    <span class="eruda-filter" data-filter="debug">Debug</span>
    <span class="eruda-icon-info eruda-help"></span>
</div>
<ul class="eruda-logs"></ul>
<div class="eruda-js-input">
    <div class="eruda-buttons">
        <div class="eruda-button eruda-cancel">Cancel</div>
        <div class="eruda-button eruda-execute">Execute</div>
    </div>
    <textarea placeholder="Type JavaScript here"></textarea>
</div>