@import '../style/variable';
@import '../style/mixin';

#console {
  padding-top: 40px;
  padding-bottom: 24px;
  width: 100%;
  height: 100%;
  &.js-input-hidden {
    padding-bottom: 0;
  }
  .control {
    @include control();
    padding: 10px 10px 10px 35px;
    .icon-clear {
      padding-right: 0px;
      left: 0;
    }
    .icon-copy {
      right: 0;
    }
    .icon-filter {
      right: 23px;
    }
    .level {
      cursor: pointer;
      font-size: $font-size-s;
      height: 20px;
      display: inline-block;
      margin: 0 2px;
      padding: 0 4px;
      line-height: 20px;
      transition: background-color $anim-duration, color $anim-duration;
      &.active {
        background: var(--highlight);
        color: var(--select-foreground);
      }
    }
    .filter-text {
      white-space: nowrap;
      position: absolute;
      line-height: 20px;
      max-width: 80px;
      overflow: hidden;
      right: 55px;
      font-size: $font-size;
      text-overflow: ellipsis;
    }
  }
  .js-input {
    pointer-events: none;
    position: absolute;
    z-index: 100;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid var(--border);
    height: 24px;
    .icon-arrow-right {
      line-height: 23px;
      color: var(--accent);
      position: absolute;
      left: 10px;
      top: 0;
      z-index: 10;
    }
    &.active {
      height: 100%;
      padding-top: 40px;
      padding-bottom: 40px;
      border-top: none;
      .icon-arrow-right {
        display: none;
      }
      textarea {
        overflow: auto;
        padding-left: 10px;
      }
    }
    .buttons {
      display: none;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 40px;
      color: var(--primary);
      background: var(--darker-background);
      font-size: $font-size-s;
      border-top: 1px solid var(--border);
      .button {
        pointer-events: all;
        cursor: pointer;
        flex: 1;
        text-align: center;
        border-right: 1px solid var(--border);
        height: 40px;
        line-height: 40px;
        &:last-child {
          border-right: none;
        }
        transition: background-color $anim-duration, color $anim-duration;
        &:active {
          color: var(--select-foreground);
          background: var(--highlight);
        }
      }
    }
    textarea {
      overflow: hidden;
      pointer-events: all;
      padding: 3px 10px;
      padding-left: 25px;
      outline: none;
      border: none;
      font-size: $font-size;
      width: 100%;
      height: 100%;
      user-select: text;
      resize: none;
      color: var(--primary);
      background: var(--background);
    }
  }
}

.safe-area #console {
  @include safe-area(padding-bottom, 24px);
  &.js-input-hidden {
    padding-bottom: 0;
  }
  .js-input {
    @include safe-area(height, 24px);
    &.active {
      height: 100%;
      @include safe-area(padding-bottom, 40px);
    }
    .buttons {
      @include safe-area(height, 40px);
      .button {
        @include safe-area(height, 40px);
      }
    }
  }
}
