@import "../color";

.dev-tools { .tools {
    .console {
        padding-bottom: 40px;
        .js-input {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 40px;
            padding: 10px;
            border: none;
            font-size: 13px;
            background: #fff;
            outline: none;
        }
    }
} }