<div class="eruda-control">
    <span class="eruda-icon-ban clear-console" ontouchstart></span>
    <span class="eruda-filter filter eruda-active" data-filter="all">All</span>
    <span class="eruda-filter filter" data-filter="error">Error</span>
    <span class="eruda-filter filter" data-filter="warn">Warning</span>
    <span class="eruda-filter filter" data-filter="info">Info</span>
    <span class="eruda-filter filter" data-filter="log">Log</span>
    <span class="eruda-filter filter" data-filter="debug">Debug</span>
    <span class="eruda-icon-info-circle help" ontouchstart></span>
</div>
<ul class="eruda-logs"></ul>
<div class="eruda-js-input">
    <div class="eruda-buttons">
        <div class="eruda-button cancel" ontouchstart>Cancel</div>
        <div class="eruda-button execute" ontouchstart>Execute</div>
    </div>
    <textarea placeholder="Type JavaScript here"></textarea>
</div>
