<ul>
    {{#each logs}}
        <li class="eruda-{{type}}">
            {{#if isCode}}
                <pre><code>{{{val}}}</code></pre>
            {{else}}
                {{{val}}}
            {{/if}}
        </li>
    {{/each}}
</ul>