@import "../color";

.dev-tools { .tools { .console {
    .logs {
        transform: translateZ(0);
        height: 100%;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        font-size: 14px;
        li {
            padding: 10px;
            overflow-x: auto;
            a {
                color: $blue !important;
            }
            .times {
                background: $blue;
                padding: 5px;
                color: #fff;
                border-radius: 4px;
            }
            &.log, &.output, &.info, &.dir {
                border-bottom: 1px solid #b4b4b4;
            }
            &.html {
                table {
                    width: 100%;
                    background: #fff;
                    border-collapse: collapse;
                    th {
                        background: $blue;
                        color: #fff;
                    }
                    th, td {
                        padding: 10px;
                    }
                }
                .blue {
                    color: $blue;
                }
            }
            &.error {
                background: #fff0f0;
                color: #ff0000;
                border-top: 1px solid #ffd7d7;
                border-bottom: 1px solid #ffd7d7;
                .stack {
                    color: #000;
                    padding-left: 1.2em;
                }
            }
            &.warn {
                background: #fffbe6;
                border-top: 1px solid #fff5c2;
                border-bottom: 1px solid #fff5c2;
            }
            &.info {
                color: $blue;
            }
        }
    }
} } }