@import "../variable";

.dev-tools { .tools {
    .network {
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        .performance-timing {
            padding: 10px;
            .inner-wrapper {
                background: $blue;
                .bar {
                    border-bottom: 1px solid #fff;
                    overflow-x: auto;
                    -webkit-overflow-scrolling: touch;
                    span {
                        font-size: 14px;
                        white-space: nowrap;
                        color: #fff;
                        padding: 5px 0;
                        background: $red-dark;
                        display: inline-block;
                    }
                    &:last-child {
                        border-bottom: none;
                    }
                }
            }
        }
        .performance-timing-data {
            padding: 0 10px 10px;
            text-align: center;
            .expand {
                display: inline-block;
                background: #fff;
                border: 1px solid $blue;
                width: 150px;
                height: 30px;
                font-size: 12px;
                line-height: 30px;
                box-shadow: $box-shadow;
                margin: 0 auto;
            }
            table {
                width: 100%;
                display: none;
                background: #fff;
                border-collapse: collapse;
                text-align: left;
                th {
                    background: $gray;
                    text-align: left;
                    color: #fff;
                }
                th, td {
                    padding: 10px;
                    font-size: 14px;
                }
            }
        }
        .request {
            background: #fff;
            li {
                border-top: 1px solid $gray;
                overflow-y: auto;
                -webkit-overflow-scrolling: touch;
                span {
                    display: block;
                    float: left;
                    padding: 5px 10px;
                }
            }
        }
    }
} }