@import "../variable";

.dev-tools { .tools {
    .network {
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        .performance-timing {
            padding: 10px;
            .inner-wrapper {
                background: $blue;
                .bar {
                    border-bottom: 1px solid #fff;
                    overflow-x: auto;
                    -webkit-overflow-scrolling: touch;
                    span {
                        font-size: 14px;
                        white-space: nowrap;
                        color: #fff;
                        padding: 5px 0;
                        background: $red-dark;
                        display: inline-block;
                    }
                    &:last-child {
                        border-bottom: none;
                    }
                }
            }
        }
        .performance-timing-data {
            padding: 0 10px 10px;
            text-align: center;
            display: none;
            table {
                width: 100%;
                background: #fff;
                border-collapse: collapse;
                text-align: left;
                th {
                    background: $gray;
                    text-align: left;
                    color: #fff;
                }
                th, td {
                    padding: 10px;
                    font-size: 14px;
                }
            }
        }
        .requests {
            background: #fff;
            border-bottom: 1px solid $gray;
            li {
                border-top: 1px solid $gray;
                overflow-x: auto;
                -webkit-overflow-scrolling: touch;
                white-space: nowrap;
                span {
                    display: inline-block;
                    line-height: 40px;
                    height: 40px;
                    padding: 0 10px;
                    font-size: 14px;
                }
                &:nth-child(even) {
                    background: $gray-light;
                }
            }
        }
    }
} }